{{#if startDate}}
  <div class="date">
    <span class="startDate">{{dateHelpers startDate 'yyyy-MM'}}</span>
    {{#if endDate}}
      <span class="endDate">&ndash;{{dateHelpers endDate 'yyyy-MM'}} {{dateDiff startDate endDate}}</span>
    {{else}}
      <span class="endDate">&ndash;En cours {{dateDiff startDate 'now'}}</span>
    {{/if}}
  </div>
{{else}}
  {{#if endDate}}
  <div class="date">
    <span class="endDate">{{dateHelpers endDate 'yyyy-MM'}}</span>
  </div>
  {{/if}}
{{/if}}
